name: Update Release Summary

on:
  release:
    types:
      - published
      - prereleased
      - edited
      - created
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-release-summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update Release Summary
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { owner, repo } = context.repo;

            async function getAllReleases() {
              let page = 1;
              const releases = [];

              while (true) {
                const res = await github.rest.repos.listReleases({
                  owner,
                  repo,
                  per_page: 100,
                  page,
                });

                if (res.data.length === 0) break;

                releases.push(...res.data);
                page++;
              }

              return releases.map(release => ({
                id: release.id,
                tag_name: release.tag_name,
                published_at: release.published_at,
                prerelease: release.prerelease
              }));
            }

            async function updateFile(path, content, sha) {
              try {
                await github.rest.repos.createOrUpdateFileContents({
                  owner,
                  repo,
                  path,
                  message: 'Update release summary',
                  content: Buffer.from(content).toString('base64'),
                  // sha is required only when updating an existing file
                  ...(sha ? { sha } : {}),
                });
                console.log(`${path} updated successfully`);
              } catch (error) {
                console.error(`Error updating ${path}:`, error);
                throw error;
              }
            }

            try {
              const summary = await getAllReleases();
              const content = JSON.stringify(summary, null, 2);

              try {
                const file = await github.rest.repos.getContent({
                  owner,
                  repo,
                  path: 'release_summary.json',
                });

                await updateFile('release_summary.json', content, file.data.sha);
              } catch (error) {
                if (error.status === 404) {
                  // File does not exist, create it
                  await updateFile('release_summary.json', content);
                } else {
                  throw error;
                }
              }
            } catch (error) {
              console.error('Error in workflow:', error);
              core.setFailed(error.message);
            }
